@use 'variables';
@use 'fonts';
@use 'mixin';

.organize {
    width: 100%;
    @include mixin.flex-center;
    padding: 5.3125rem 0;
    overflow: hidden;

    &_container {
        box-sizing: border-box;
        position: relative;
        width: 100%;
        max-width: 44.5rem;
        @include mixin.flex-center;
        justify-content: end;
        background: url('../img/easyfest.png') top center no-repeat ;
        background-size: contain;
        padding: 0 0.625rem;
        padding-top: 17.5rem;
        
        &::after {
            position: absolute;
            top: 1.25rem;
            right: -13.125rem;
            content: "";
            width: 20rem;
            height: 25rem;
            background: url('../img/avatar_skate.png') center center no-repeat;
            background-size: cover;
        }
    }
    
    &_content {
        margin-right: 3.3125rem;
    }

    &_title {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.75rem;
        margin-bottom: 1rem;
    }

    &_description {
        width: 15.3125rem;
        font-size: 1rem;
        line-height: 1.1875rem;
    }

    &_mobile {
        &_button {
            display: none;
        }

        &_link {
            display: none;
        }
    }
}